<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/alt_launcher.ico">
         <run
               class="de.netpage_germany.sample.rcp3.contacts.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.netpage_germany.sample.rcp3.contacts.application"
            description="%product.description"
            name="%product.name">
         <property
               name="appName"
               value="%product.name">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="%product.about">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.netpage_germany.sample.rcp3.contacts.Perspective"
            icon="icons/alt_window_16.gif"
            id="de.netpage_germany.sample.rcp3.contacts.perspective"
            name="%perspective.contacts">
      </perspective>
   </extension>
   <extension
         id="view"
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="de.netpage_germany.sample.rcp3.contacts.ContactNavigator"
            icon="icons/alt_window_16.gif"
            id="de.netpage_germany.sample.rcp3.contacts.contactnavigator"
            name="%view.contactnavigator">
      </view>
   </extension>
   <extension
         id="editor"
         point="org.eclipse.ui.editors">
      <editor
            class="de.netpage_germany.sample.rcp3.contacts.ContactEditor"
            default="true"
            icon="icons/alt_window_16.gif"
            id="de.netpage_germany.sample.rcp3.contacts.contacteditor"
            name="%editor.contacteditor">
      </editor>
   </extension>
   <extension
         id="command"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.netpage_germany.sample.rcp3.contacts.OpenContactEditorCommand"
            id="de.netpage_germany.sample.rcp3.contacts.opencontacteditorcommand"
            name="%command.opencontacteditor">
      </command>
      <command
            defaultHandler="de.netpage_germany.sample.rcp3.contacts.CreateContactEditorCommand"
            id="de.netpage_germany.sample.rcp3.contacts.createcontacteditorcommand"
            name="%command.createcontacteditor">
      </command>
   </extension>

</plugin>
